body {
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    /*rgb(58,38,84)*/
    /*rgb(95,62,106)*/
    background-color: #1a1a2d;
    background-image: linear-gradient(43deg, #1a1a2d 0%, #3d3044 84%, #4e424b 100%);

    color: white;
    margin: 0;
    font-family: Inter, sans-serif;
}
p, span, h1, h2, h3, h4, h5, h6 {
    color: black;
}